<button (click)='disabled=!disabled'>
  <span *ngIf='disabled; else elseBlock'>disabled</span>
  <ng-template #elseBlock>enabled</ng-template>
</button>

<app-kanban-board-provider #provider></app-kanban-board-provider>
<app-kanban-board
  [board]='board'
  [disabled]='disabled'
  [save]='provider.save'
  (delete)='provider.deleteBoard()'
  [addLane]='provider.addLane'
  [addCard]='provider.addCard'
  [saveLane]='provider.save'
  [saveCard]='provider.save'
  [deleteCard]='provider.deleteCard'
  [deleteLane]='provider.deleteLane'
></app-kanban-board>
