<app-stacker *ngIf='!isEditing; else elseBlock'>
  <app-stacker [horizontal]='true'>
    <h2>{{board.name}}</h2>
    <ng-template [ngIf]='!disabled && !board.disabled'>
      <button type='button' (click)='isEditing=!isEditing'>E</button>
      <button (click)='delete.emit(board)'>×</button>
    </ng-template>
  </app-stacker>

  <p>{{board.description}}</p>
</app-stacker>

<ng-template #elseBlock>
  <form [formGroup]='boardForm' (ngSubmit)='submit(board, boardForm)'>
    <label>name:</label>
    <input formControlName='name' placeholder='name' required />
    <textarea formControlName='description' placeholder='description'></textarea>
    <button type='submit'>S</button>
  </form>
</ng-template>

<app-stacker [horizontal]='true'>
  <div *ngFor='let lane of board.lanes'>
    <app-kanban-board-lane
      [lane]='lane'
      [disabled]='disabled'
      [save]='saveLane'
      [delete]='deleteLane.bind(this, board)'
      [addCard]='addCard'
      [saveCard]='saveCard'
      [deleteCard]='deleteCard'
    ></app-kanban-board-lane>
  </div>

  <button *ngIf='!disabled && !board.disabled' (click)='addLane(board)'>
    add lane
  </button>
</app-stacker>
