<app-stacker *ngIf='!isEditing; else elseBlock' [horizontal]='true'>
  <h2>{{board.name}}</h2>
  <ng-template [ngIf]='!disabled && !board.disabled'>
    <button type='button' (click)='isEditing=!isEditing'>E</button>
    <button (click)='onDelete(board)'>×</button>
  </ng-template>
</app-stacker>
<ng-template #elseBlock>
  <form [formGroup]='boardForm' (ngSubmit)='submit(board, boardForm)'>
    <label>name:
      <input formControlName='name' placeholder='name' required />
      <button type='submit'>S</button>
    </label>
  </form>
</ng-template>

<app-stacker [horizontal]='true'>
  <div *ngFor='let lane of board.lanes'>
    <app-kanban-board-lane
      [lane]='lane'
      [disabled]='disabled'
      [onSubmit]='onSaveLane'
      [onDelete]='onDeleteLane.bind(this, board)'
      [onAddCard]='onAddCard'
      [onSaveCard]='onSaveCard'
      [onDeleteCard]='onDeleteCard'
    ></app-kanban-board-lane>
  </div>

  <button *ngIf='!disabled && !board.disabled' (click)='onAddLane(board)'>
    add lane
  </button>
</app-stacker>
