<app-stacker *ngIf='!isEditing' [horizontal]='true'>
  <h2>{{lane.name}}</h2>
  <ng-template [ngIf]='!disabled && !lane.disabled'>
    <button type='button' (click)='isEditing=!isEditing'>E</button>
    <button (click)='onDelete(lane)'>×</button>
  </ng-template>
</app-stacker>

<app-stacker *ngIf='isEditing' [horizontal]='true'>
  <form [formGroup]='laneForm' (ngSubmit)='submit(lane, laneForm)'>
    <label>name:
      <input formControlName='name' placeholder='name' required />
      <button type='submit'>S</button>
    </label>
  </form>
</app-stacker>


<div>
  <div *ngFor='let card of lane.cards'>
    <app-kanban-board-card
      [card]=card
      [disabled]='disabled'
      [onSubmit]='onSaveCard'
      [onDelete]='onDeleteCard.bind(this, lane)'
    >
    </app-kanban-board-card>
  </div>
</div>

<app-stacker *ngIf='!disabled && !lane.disabled'>
  <button (click)='onAddCard(lane)'>
    add card
  </button>
</app-stacker>
