<app-stacker *ngIf='!isEditing; else elseBlock'>
  <app-stacker [horizontal]='true'>
    <h3>{{card.name}}</h3>
    <ng-template [ngIf]='!disabled && !card.disabled'>
      <button type='button' (click)='isEditing=!isEditing'>E</button>
      <button type='button' (click)='delete(card)'>×</button>
    </ng-template>
  </app-stacker>

  <p>{{card.description}}</p>
</app-stacker>

<ng-template #elseBlock>
  <form [formGroup]='cardForm' (ngSubmit)='submit(card, cardForm)'>
    <label>name:</label>
    <input formControlName='name' placeholder='name' required />
    <textarea formControlName='description' placeholder='description'></textarea>
    <button type='submit'>S</button>
  </form>
</ng-template>
